<!-- <ion-content padding contentId="tab-stories"> -->

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/semear-labs.appspot.com/o/users%2Favatars%2Fjuliana.png?alt=media&token=8af7f564-0f04-43db-89b3-c1732db9bbe0">
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>Juliana Fernandes</ion-card-title>
        <ion-card-subtitle>Como o personagem pode fazer aquilo com o Devon?</ion-card-subtitle>
        <ion-card-subtitle>1h atrás</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/semear-labs.appspot.com/o/users%2Favatars%2Flondon.png?alt=media&token=0c2654aa-948e-487b-92e0-9fbe12e79e0d">
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>Landon Clayton</ion-card-title>
        <ion-card-subtitle>
          <ion-text color="primary">@Juliana Fernandes</ion-text> A hipótese é uma afirmação não comprovada; isso pode
          ser testado.
        </ion-card-subtitle>
        <ion-card-subtitle>2min atrás</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-card>

<!-- </ion-content> -->