.ion-font-weight-bold {
  font-weight: bold;
}

.ion-font-weight-bolder {
  font-weight: bolder;
}

.ion-font-weight-normal {
  font-weight: 400;
}

.ion-font-weight-light {
  font-weight: 300;
}

.ion-font-weight-lighter {
  font-weight: lighter;
}

.ion-font-italic {
  font-style: italic;
}

@media (min-width: 576px) {
  .ion-font-weight-sm-bold {
    font-weight: bold;
  }

  .ion-font-weight-sm-bolder {
    font-weight: bolder;
  }

  .ion-font-weight-sm-normal {
    font-weight: 400;
  }

  .ion-font-weight-sm-light {
    font-weight: 300;
  }

  .ion-font-weight-sm-lighter {
    font-weight: lighter;
  }

  .ion-font-sm-italic {
    font-style: italic;
  }
}

@media (min-width: 768px) {
  .ion-font-weight-md-bold {
    font-weight: bold;
  }

  .ion-font-weight-md-bolder {
    font-weight: bolder;
  }

  .ion-font-weight-md-normal {
    font-weight: 400;
  }

  .ion-font-weight-md-light {
    font-weight: 300;
  }

  .ion-font-weight-md-lighter {
    font-weight: lighter;
  }

  .ion-font-md-italic {
    font-style: italic;
  }
}

@media (min-width: 992px) {
  .ion-font-weight-lg-bold {
    font-weight: bold;
  }

  .ion-font-weight-lg-bolder {
    font-weight: bolder;
  }

  .ion-font-weight-lg-normal {
    font-weight: 400;
  }

  .ion-font-weight-lg-light {
    font-weight: 300;
  }

  .ion-font-weight-lg-lighter {
    font-weight: lighter;
  }

  .ion-font-lg-italic {
    font-style: italic;
  }
}

@media (min-width: 1200px) {
  .ion-font-weight-xl-bold {
    font-weight: bold;
  }

  .ion-font-weight-xl-bolder {
    font-weight: bolder;
  }

  .ion-font-weight-xl-normal {
    font-weight: 400;
  }

  .ion-font-weight-xl-light {
    font-weight: 300;
  }

  .ion-font-weight-xl-lighter {
    font-weight: lighter;
  }

  .ion-font-xl-italic {
    font-style: italic;
  }
}
