ion-content {
  ion-card {
    text-align: left;
    ion-card-header {
      padding: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    img {
      height: 50vh;
      width: 90vw;
      object-fit: cover;
    }
  }
}

.swiper-slide {
  width: 35vh;
}

.swiper-slide.swiper-slide-active {
  height: 90vh;
}

.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next {
  height: 20vh;
}
