<ion-content fullscreen>
  <ion-row>
    <ion-col class="ion-padding">
      <ion-segment value="all" mode="ios">
        <ion-segment-button value="to-read">
          <ion-label>Lendo</ion-label>
        </ion-segment-button>
        <ion-segment-button value="saved">
          <ion-label>Salvos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="read">
          <ion-label>Lidos</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-col>
  </ion-row>

  <ion-slides [options]="slideConfig">
    <ion-slide *ngFor="let story of stories$ | async">
      <ion-card no-margin button (click)="goToDetail(story.uid)">
        <img decoding="async" part="image" [src]="story.coverURL" />
        <ion-card-header>
          <p>{{ story.category }}</p>
          <p>{{ story.name }}</p>
          <p>{{ story.author }} ({{ story.date | date: 'yyyy' }})</p>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
