<div class="star-rating">
  <ion-button
    [ngStyle]="{ width: fontSize, height: fontSize }"
    *ngFor="let index of iconsArray"
    (click)="changeRating($event)"
  >
    <ion-icon slot="start" name="image"></ion-icon>
    Colocar Imagem no Background

    <ion-icon
      slot="icon-only"
      [ngStyle]="{ color: index < this.Math.round(this.parseFloat(rating)) ? activeColor : defaultColor, 'font-size': fontSize }"
      name="{{
        halfStar === 'true' && rating - index > 0 && rating - index <= 0.5
          ? halfIcon
          : index < this.Math.round(this.parseFloat(rating))
          ? activeIcon
          : defaultIcon
      }}"
    ></ion-icon>
  </ion-button>
</div>
