<ion-slides #slides pager="true">
  <ion-slide class="step-one">
    <ion-img src="/assets/slides/step1.svg"></ion-img>
    <h1>Explore o universo literário</h1>
    <p>
      Leia histórias curtas e e-books sobre os mais variados assuntos.
    </p>
    <ion-button color="dark" (click)="next()">Próximo</ion-button>
  </ion-slide>

  <ion-slide class="step-two">
    <ion-img src="/assets/slides/step2.svg"></ion-img>
    <h1>Teste seus conhecimentos</h1>
    <p>Responda perguntas, encontre palavras e relembre tudo sobre sua história favorita.</p>
    <ion-button color="dark" (click)="next()">Próximo</ion-button>
  </ion-slide>

  <ion-slide class="step-three">
    <ion-img src="/assets/slides/step3.svg"></ion-img>
    <h1>Atinja o topo</h1>
    <p>
      Crie, ilustre, responda e leia pra alcançar os mais altos níveis no ranking.
    </p>

    <ion-button (click)="finish()">Bora lá!</ion-button>
  </ion-slide>
</ion-slides>
