<ion-tabs>
  <ion-tab-bar color="light" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="planet-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="stories">
      <ion-icon name="bonfire-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="books">
      <ion-icon name="book-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
