<ion-content [fullscreen]="true">
  <!-- <app-canvas></app-canvas> -->

  <ion-slides [options]="slideConfig">
    <ion-slide *ngFor="let story of stories$ | async">
      <ion-card button (click)="goToDetail(story.uid)">
        <ion-img [src]="story.coverURL"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{ story.category }}</ion-card-subtitle>
          <ion-card-title>{{ story.name }}</ion-card-title>
          <ion-card-subtitle>{{ story.author }} ({{ story.date | date: 'yyyy' }})</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
