<ion-content>
  <ion-toolbar>
    <div class="ion-padding">
      <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
    </div>
  </ion-toolbar>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cog"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="navigateTo('stories')">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="play-skip-back"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="megaphone"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-slides [options]="slideConfig">
    <ion-slide>
      <!-- *ngFor="let slide of slides; let last = last" -->
      <img
        src="https://firebasestorage.googleapis.com/v0/b/semear-labs.appspot.com/o/stories%2Fdrawings%2Flittle-red-riding-hood-1_475x700.png?alt=media&token=ef092593-aa54-4460-9674-00f34947a5f5"
        class="ion-margin-vertical"
      />
    </ion-slide>
    <ion-slide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/semear-labs.appspot.com/o/stories%2Fdrawings%2Flittle-red-riding-hood-2_475x700.png?alt=media&token=072b6df1-910f-44a6-b006-f4e98e6a66f2"
        class="ion-margin-vertical"
      />
    </ion-slide>

    <ion-slide>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/semear-labs.appspot.com/o/stories%2Fdrawings%2Flittle-red-riding-hood-3_475x700.png?alt=media&token=e02f6595-733e-46b7-a625-6417e5740cf7"
        class="ion-margin-vertical"
      />
    </ion-slide>

    <ion-slide>
      <!-- *ngFor="let slide of slides; let last = last" -->
      <img
        src="https://firebasestorage.googleapis.com/v0/b/semear-labs.appspot.com/o/stories%2Fdrawings%2Flittle-red-riding-hood-1_475x700.png?alt=media&token=ef092593-aa54-4460-9674-00f34947a5f5"
        class="ion-margin-vertical"
      />
    </ion-slide>
  </ion-slides>
</ion-content>
