<ion-content>
  <ion-toolbar>
    <div class="ion-padding">
      <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
    </div>
  </ion-toolbar>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cog"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="navigateTo('stories')">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="play-skip-back"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="megaphone"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
