ion-content {
  transform: translate3d(0, 180px, 0);
    -bottom: 30px;
  --padding-end: 30px;
  --padding-start: 30px;
  --padding-top: 30px;
}

ion-content::part(background) {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}