<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="stories">História</ion-back-button>
    </ion-buttons>
    <ion-title>
      História
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text class="ion-text-center">
    <h1 class="ion-no-margin">{{ story?.name }}</h1>
    <h5 class="ion-margin-top">4 de 8 lições</h5>
  </ion-text>

  <img [src]="story?.coverURL" class="ion-margin-vertical">

  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="story">
        <ion-label>HISTÓRIA</ion-label>
      </ion-segment-button>
      <ion-segment-button value="games">
        <ion-label>JOGOS</ion-label>
      </ion-segment-button>
      <ion-segment-button value="discussion">
        <ion-label>DISCUSSÃO</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-text>
    <h3>Introdução</h3>
  </ion-text>

  <p class="ion-text-justify">
    {{ story?.summary }}
  </p>

  <ion-router-outlet></ion-router-outlet>

</ion-content>