<ng-container *ngIf="story$ | async as story">
  <div [style.height.vh]="100" [style.background]="imageUrlStyle">
    <ion-header class="ion-no-border">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="secondary" defaultHref="stories"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button expand="block" fill="clear" shape="round" color="secondary">
            <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-text>
        <h5 class="ion-no-margin">{{ story?.name }}</h5>
      </ion-text>

      <ion-text color="primary">
        <label class="ion-margin-vertical ion-text-uppercase upper-label">{{story?.author}}</label>
      </ion-text>

      <star-rating rating="4" fontSize="17px" [readonly]="true"> </star-rating>

      <ion-segment (ionChange)="segmentChanged($event.target.value)" mode="ios">
        <ion-segment-button value="intro" [class]="segment === 'intro' ? 'segment-button-checked' : ''">
          <ion-label class="ion-text-uppercase">História</ion-label>
        </ion-segment-button>
        <ion-segment-button value="games" [class]="segment === 'games' ? 'segment-button-checked' : ''">
          <ion-label class="ion-text-uppercase">Jogos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="discussion" [class]="segment === 'discussion' ? 'segment-button-checked' : ''">
          <ion-label class="ion-text-uppercase">Discussão</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-content>
        <ion-router-outlet></ion-router-outlet>
      </ion-content>
    </ion-content>
  </div>
</ng-container>
