ion-content {
  --padding-bottom: 30px;
  --padding-end: 30px;
  --padding-start: 30px;
  --padding-top: 30px;
}

img {
  border-radius: 15px;
}

img {
  height: 40vh !important;
  width: 100vw;
  object-fit: cover;
}
