<div *ngIf="story$ | async as story">
  <ion-text>
    <h3>Introdução</h3>
  </ion-text>

  <p class="ion-text-justify">
    {{ story.summary }}
  </p>

  <ion-button color="primary" expand="full" (click)="navigateToInit(story.uid)">
    Começar
    <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-item lines="none" *ngFor="let list of lists" (click)="navigateToChildren(story.uid, list.url)">

      <ion-avatar slot="start">
        <img [src]="list.image">
      </ion-avatar>

      <ion-label>
        <p>{{ list.text }}</p>
        <ion-text>{{ list.label }}</ion-text>
      </ion-label>
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-item>
  </ion-list>

</div>