// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

// quill WYSIWYG
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

body {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
ion-title {
  font-family: var(--heading-font);
}

ion-card {
  border-radius: 15px;
}

ion-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  padding-left: 0px;
  margin-left: -27px;
  // identical to box height

  text-align: center;
  color: var(--ion-color-primary);
}

.ion-page {
  overflow: auto !important;
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: none;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}